@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/bg01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
}

h1 {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
}

.interface {
  width: 1200px;
  height: 500px;
  background-color: #f3f3f3;
}

.right {
  background-image: url(/images/study.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  font-weight: 500;
}

button.active {
  font-weight: 500;
  color: #FD5875;
  transition: none;
}

button:hover {
  font-weight: 500;
  color: #FD5875;
}

.login-btn:hover {
  color: white;
  background-color: #f7aac0;
}



